<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Reg</title>
    <link rel="stylesheet" href="~/css/style.css"/>
</head>
<body>
    <div id="form">
        <ul>
            <form action="survey" method="POST">
            <li>Your Name: <input type="text" name="name"></li>
            <li>Dojo Location: <select name="location"><option value="San Jose">San Jose</option>
            <option value="Seattle">Seattle</option>
            <option value="Chicago">Chicago</option>
            <option value="Ausin">Austin</option></select></li>
            <li>Favorite Language: <select name="language"><option value="Python">Python</option>
            <option value="C#">C#</option>
            <option value="Swift">Swift</option>
            <option value="Javascript">Javascript</option></select></li>
            <li><input type="text" name="comment" style="width:50%;height:3em;"></li>
            <li><input type="submit" value="Submit"></li></ul></form>
        </ul>
    </div>
    
</body>
</html>