@{
    ViewData["Title"] = "Home Page";
}
<h1>Welcome to Kelly's Kars!</h1>
<div class="forms">
    @Html.Partial("loginpartial")
</div>
<div class="forms">
    @Html.Partial("registerpartial")
</div>
