<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title></title>
        <link rel="stylesheet" href="~/css/style.css"/>
    </head>
    <body>
        <h1 class="date">The current date and time is...</h1>
        <h2 class="time">@ViewBag.displaytime</h2>
        <h2 class="time">@ViewBag.displaydate</h2>
        
    </body>
</html>