<div id="top">   
<ul>
<li class="col-md-4"><h2>Logged in as @ViewBag.user.firstname.</h2></li>
<li class="col-md-3 col-md-offset-5"><a href="logout"><button>Click here to log out</button></a></li>
</ul>
</div>