<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quoting Dojo</title>
</head>
<body>
    <h1>welcome to QuotingDojo</h1>
    <form action="/quotes" method="POST">
    <ul>
    <li><h2>Your name : </h2> <input type="text" name="username"></li>
    <li><h2>Your quote : </h2><input type="text" name="quote" style="width:50%;height:10%;"></li>
    <li><input type="submit" value="Add my Quote!"></form><a href="/quotes"><button>Skip to quotes!</button></a></li>
    </ul>
    </form>
</body>
</html>